@model InternetComputerStore.Models.Customer

@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>Sign In</h2>

@using (Html.BeginForm("Create", "Customers"))
{

    <div class="form-group">
        @Html.LabelFor(n => n.UserName)
        @Html.TextBoxFor(n => n.UserName,
        new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.PasswordHash)
        @Html.TextBoxFor(n => n.PasswordHash,
        new { @class = "form-control" })
    </div>

    <button type="button" class="btn btn-success">Sign In</button>


}
